* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

.header {
  height: 100px;
  text-align: center;

  div {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    width: calc(100% / 2 - 80px)
  }

  img {
    height: 100px;
    width: auto;
    display: inline-block;
  }

  .issues {
    float: left;
  }

  .candidates {
    float: right;
  }
}
