* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited {
  color:inherit;
  cursor: pointer;
  text-decoration: none;
}

.site-container {
  max-width: 1000px;
  margin: auto;
}

.header-line {
  border-top: 1px solid #aaa;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
  text-align: center;

  legend {
    padding: 5px 10px; 
  }
}

.header {
  height: 100px;
  text-align: center;

  div {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    width: calc(100% / 2 - 80px);
    max-width: 298.5px;
  }

  img {
    height: 100px;
    width: auto;
    display: inline-block;
  }

  .issues {
    float: left;
  }

  .candidates {
    float: right;
  }
}

.home-container {
  text-align: center;

  h2 {
    font-weight: 400;
  }

  .search-bar {
    width: 80%;
    max-width: 600px;
    margin: auto;
    display: block;
    position: relative;
    top: -75px;

    input {
      background-color: #FFF; 
    }
  }

  .candidate-container {
    margin: 25px 0;

    .candidate {
      cursor: pointer;
      
      img {
        height: 200px;
        width: auto;
      }
    }
  }

  .issue-container {
    margin: 25px 0;

    .issue {
      cursor: pointer;
      height: 45px;
      line-height: 45px;
      width: 200px;
      margin: 10px 20px;
      display: inline-block;
      border: 1px solid #999; 
    }
  }
}

.capitol-image img {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
  max-width: 1000px;
}

.candidate-page {
  padding: 0 10px;

  .candidate-header {
    overflow: auto;

    .candidate-image {
      margin-right: 20px;
      height: 250px;
      width: auto;
      float: left;
    }

    .candidate-name {
      font-size: 32px;
    }

    .candidate-bio, .candidate-links {
      margin-top: 10px;

      div {
        line-height: 1.3;

        .material-icons {
          font-size: inherit;
          line-height: inherit;
          height: 19px;
          width: inherit;
        }
      }
    }
  }

  .candidate-media {
    .candidate-media-header {
      margin: 15px 0;
    }

    img {
      height: 225px;
      width: auto;
    }
  }

  .candidate-issues {
    .header-line {
      margin: 15px 0;
    }
  }

  .candidate-reading {
    .header-line {
      margin: 15px 0;
    }
  }
}

.issue-container {
  padding: 0 10px;

  .issue-header {
    .issue-name {
      font-size: 36px;
    }

    .issue-description {
      margin-top: 10px;
      line-height: 1.25;
    }
  }

  .issue-arguments-container {
    margin-top: 35px;
    overflow: auto;

    .left-argument {
      width: calc(50% - 1px);
      float: left;
      border-right: 1px solid #aaa;
      overflow: auto;
    }

    .right-argument {
      width: 50%;
      float: right;
      overflow: auto;

      .argument-list {
        padding-left: 10px;
      }
    }
  }

  .issue-candidates-container {
    overflow: auto;

    .left-candidates {
      width: calc(50% - 1px);
      float: left;
      border-right: 1px solid #aaa;
      overflow: auto;
    }

    .right-candidates {
      width: 50%;
      float: right;
      overflow: auto;

      .candidates-list {
        padding-left: 10px;
      }
    }
  }

  .issue-reading {
    overflow: auto;
    margin-top: 50px;
  }
}

