<div class="capitol-image"><img src="images/capitol.jpg"></div>
<div class="home-container">
	<md-input-container class="search-bar md-background">
		<label>Search Candidates &amp; Issues</label>
		<input ng-model="searchQuery"></input>
	</md-input-container>

	<h2>Candidates Running in Current Election</h2>
	<div class="candidate-container">
		<span class="candidate">
			<a href='/#/candidate#Bernie Sanders'>
				<img src="images/candidates/Bernie Sanders/Bernie_Sanders.jpg">
				<div>Bernie Sanders</div>
			</a>
		</span>
	</div>

	<h2>Trending Candidates</h2>
	<div class="candidate-container">
		<span class="candidate">
			<a href='/#/candidate#Bernie Sanders'>
				<img src="images/candidates/Bernie Sanders/Bernie_Sanders.jpg">
				<div>Bernie Sanders</div>
			</a>
		</span>
	</div>

	<h2>Trending Issues</h2>
	<div class="issue-container">
		<span class="issue">Immigration</span>
		<span class="issue">Supreme Court</span>
		<span class="issue">Abortion</span>
		<span class="issue">Campaign Finance</span>
		<span class="issue">Financial Reform</span>
		<span class="issue">Education</span>
	</div>
</div>
