<div class="capitol-image"><img src="images/capitol.jpg"></div>
<div class="home-container">
	<md-input-container class="search-bar md-background">
		<label>Search Candidates &amp; Issues</label>
		<input ng-model="searchQuery"></input>
	</md-input-container>

	<h2>Candidates Running in Current Election</h2>
	<div class="candidate-container">
		<span class="candidate" ng-repeat="can in currentElection">
			<a href='#/candidate#{{can.name}}'>
				<img src="{{can.image}}">
				<div>{{can.name}}</div>
			</a>		
		</span>
	</div>

	<h2>Trending Candidates</h2>
	<div class="candidate-container">
		<span class="candidate" ng-repeat="can in trendingCandidates">
			<a href='#/candidate#{{can.name}}'>
				<img src="{{can.image}}">
				<div>{{can.name}}</div>
			</a>		
		</span>
	</div>

	<h2>Trending Issues</h2>
	<div class="issue-container">
		<span ng-repeat="issue in trendingIssues">
			<a href="#/issue#{{issue}}"><span class="issue">{{issue}}</span></a>
		</span>
	</div>
</div>
