<div class="capitol-image"><img src="images/capitol.jpg"></div>
<div class="home-container">
	<md-input-container class="search-bar md-background">
		<label>Search Candidates &amp; Issues</label>
		<input ng-model="searchQuery"></input>
	</md-input-container>

	<h2>Candidates Running in Current Election</h2>
	<div class="candidate-container">
		<span class="candidate">
			<a href='/#/candidate#Bernie Sanders'>
				<img src="images/candidates/Bernie Sanders/Bernie_Sanders.jpg">
				<div>Bernie Sanders</div>
			</a>
		</span>
	</div>

	<h2>Trending Candidates</h2>
	<div class="candidate-container">
		<span class="candidate">
			<a href='/#/candidate#Bernie Sanders'>
				<img src="images/candidates/Bernie Sanders/Bernie_Sanders.jpg">
				<div>Bernie Sanders</div>
			</a>
		</span>
	</div>

	<h2>Trending Issues</h2>
	<div class="issue-container">
		<span class="issue"><a href="/#/issue#Immigration">Immigration</a></span>
		<span class="issue"><a>Supreme Court</a></span>
		<span class="issue"><a>Abortion</a></span>
		<span class="issue"><a>Campaign Finance</a></span>
		<span class="issue"><a>Financial Reform</a></span>
		<span class="issue"><a>Education</a></span>
	</div>
</div>
